html {
  font-size: 62.5%;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: "pokemon";
  font-size: 1.6rem;
  background: repeating-linear-gradient(
    #4f8c34,
    #4f8c34 10px,
    #75c84e 0,
    #75c84e 20px
  );
}
